# Node / VS Code Extension specific

npm-debug.log
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

# Dependency directories
node_modules/
jspm_packages/

# Build output
dist/
.cache/
*.tsbuildinfo

# Runtime cache files
.runtimeconfig.json

# Optional profiling tool files
*.cpuprofile

# TypeScript
*.ts
*.js.map
*.d.ts

# VS Code Extension specific
.vscode-test/
